<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vackapi.mvplearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".FristActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rxjavalearn.RxJavaLearnActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp.MVPLearnActivity" />
        <activity
            android:name=".mvp2.MVP2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".retrofitLearn.RetrofitLearnActivity" />
        <activity
            android:name=".mvp2.CanKingDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp3.MVP3Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>